.checkout-payment-method .payment-method-title label div.paytabs_standard.logo-none {
    display: inline-block;
    vertical-align: middle;
}
.checkout-payment-method .payment-method-title label div.paytabs_standard.logo-paytabs {
    display: inline-block;
    background: url(../../images/payment/paytabs.png) no-repeat;
    width: 173px;
    height: 47px;
    vertical-align: middle;
}

/* Hide labels when logo is displayed */
.checkout-payment-method .payment-method-title label div.paytabs_standard.logo-paytabs + span {
    display: none;
}